/* Weight grid
/---------------*/

@import "../mixin/table-grid";

.weight-grid {
  @include table-grid;
  table-layout: fixed;

  > * {
    display: table-cell;
    width: 3pt;
  }

  @for $weight from 2 through 6 {
    > .col-#{$weight} {
      width: (3pt * $weight);
    }

    > .col-1\/#{$weight} {
      width: (3pt / $weight);
    }
  }
}